
<h1>VOICI LA PAGE DE TESTE</h1>
{{form_start(formSearch)}}
{{ form_end(formSearch) }}

{% if result is defined %}
    {% for product in result %}
        {{ product.getName() }}
    {% endfor %}
{% endif %}